<div class="about-popup">
    <div class="about-popup__close">×</div>
    <div class="about-popup__body">
        <h1 class="about-popup__title">О приложении</h1>
        <p class="about-popup__text">Speed dating — формат вечеринок мини-свиданий, организованных с целью познакомить людей друг с другом.</p>

        <div class="about-popup__img" style="background-image: url('//pp.vk.me/c629531/v629531308/2270/eUa08uL8AIU.jpg')"></div>

        <p class="about-popup__text">Не упустите шанс поболтать с кучей девушек за короткое время! С 20:00 каждые 3 минуты у вас будет новая собеседница.</p>
        <div class="about-popup__img" style="background-image: url('//pp.vk.me/c622817/v622817053/3644d/-I9SLsUT_T8.jpg')"></div>

        <p class="about-popup__text">И, если вы понравитесь друг другу, то продолжите знакомство уже через VK.</p>
        <div class="about-popup__img" style="background-image: url('//pp.vk.me/c622817/v622817053/36453/HPxZmFLA05I.jpg')"></div>

        <p class="about-popup__text">Бронируйте место во встрече!</p>
    </div>
</div>

