<div class="chat-messages__item-wrapper">
    <div class="chat-messages__item chat-messages__item--{{side}}">
        <div class="chat-messages__item-inner">
            {{message}}
        </div>
    </div>
</div>
